<p><%= link_to '新建类型', new_ctype_path, class: 'btn btn-primary' %></p>

<ol class='sortable_tree' data-max-levels='3' data-rebuild-url='<%= rebuild_ctypes_url %>'>
  <%= build_server_tree @ctypes, :type => :sortable %>
</ol>

<%= render 'sidebar' %>